/********* Generelt *********/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



img {
    width: 100%;
}

.wp-block-image img {
    width: 100%;
    height: auto;
}

:root {
    --light-blue: #c9e7f2;
    --light-brown: #ebe5df;
    --dark-brown: #6b5a46;
    --dark-blue: #3d6473;
    --beige: #f2ece5;
    --black: #303030;
}















/********* Tekst *********/

a {
    text-decoration: none;
    color: var(--black);
    cursor: pointer;
}

p {
    font-family: 'Poppins', sans-serif;
    color: var(--black);
}

footer a {
    font-family: 'Poppins', sans-serif;
    color: var(--black);
}

h1 {
    font-family: 'Old Standard TT', serif;
    font-size: 3em;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.3em;
    color: var(--black);
}

h3 {
    font-family: 'Poppins', sans-serif;
    color: white;
}

















/********* Header *********/


header {
    background-color: #fff;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100px;
    z-index: 1;
    position: fixed;
    opacity: 97%;
}





#logo {
    height: 200px;
    width: 200px;
    padding: 10px 0;
    z-index: 4;
}


















/********* index sections styling *********/







#splash_1 {}

#splash_splash {
    width: 100%;
    height: 600px;
}

#splash_splash video {
    width: 375px;
}

#mobil_video {
    width: 375px;
}

#splash_brown {
    background-color: var(--dark-brown);
    height: 600px;
}

.splash_brown_txt {}

.splash_brown_txt p {
    color: white;
    font-size: 1.5em;
    font-weight: 700;
    padding: 100px 20px 20px 20px;
}

.splash_brown_txt h2 {
    color: white;
    text-decoration: underline;
    text-underline-position: under;
    padding: 100px 20px 20px 20px;
}

.splash_brown_txt h2:hover {
    font-size: 140%;
    transition: .15s ease;

}









#splash_3 {}

#splash_splash_2 {
    background-image: url(billeder/LACTUCA-BANGLEWS.png);
    width: 100%;
    height: 600px;
    background-position: center;
    padding-left: 15px;
    padding-top: 499px;
}

#splash_brown_2 {
    background-position: center;
    background-color: #ebebeb;
    height: 600px;
}


.infografik {
    padding-top: 200px;
}





#splash {
    background-color: var(--dark-brown);
    height: 600px;
}

.splash_billede {
    background-image: url(billeder/0T5A2033-kopier-scaled.jpg);
    width: 100%;
    height: 600px;
    background-position: center;
    padding-left: 15px;
    padding-top: 499px;
}

.splash_billede h2 {
    color: white;
    text-decoration: underline;
    text-underline-position: under;
}

.splash_billede2 h2 {
    color: white;
    text-decoration: underline;
    text-underline-position: under;
}


.splash_billede h2:hover {
    font-size: 140%;
    transition: .15s ease;
}

.splash_billede2 h2:hover {
    font-size: 140%;
    transition: .15s ease;

}








#splash2 {
    background-color: var(--dark-brown);
    height: 600px;
}

.splash_billede2 {
    background-image: url(billeder/IMG_6348.JPG);
    width: 100%;
    height: 600px;
    background-position: center;
    padding-left: 15px;
    padding-top: 499px;
}










#text_content {
    background-color: #fff;
    height: 600px;
    font-size: 0.9em;
    padding: 50px 20px 50px 20px;
}

#text_content p {

    font-family: 'Old Standard TT', serif;
}

#text_content2 {
    background-color: var(--light-brown);
    height: 500px;
    padding: 0px;
}




























/********** Newsletter **********/



form h1 {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-size: 25.5px;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
}

form p {
    margin: 0 0 15px 0;
    padding: 0;
    color: #555;
    font-style: italic;
    font-size: 14px;
}

form {
    width: 375px;
    padding: 150px 50px 50px 50px;
    margin: 0 auto;
}

input {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

.info {
    display: inline-block;
    margin-right: 5px;
}

.info input {
    display: block;
    width: 275px;
    height: 20px;
    border: 0;
    border-radius: 3px;
    margin: 0 0 10px 0;
    padding: 12px 10px;
    background: #fff;
}

.info input:last-child {
    margin: 0;
}

.info input:focus {
    background: #eee;
    outline: none;
}

input[type="submit"] {
    vertical-align: top;
    width: 275px;
    height: 40px;
    margin: 10px 0 0 0;
    padding: 0;
    border: 0;
    border-radius: 3px;
    background: pink;
    cursor: pointer;
    font-weight: 100;
    letter-spacing: 1px;
    color: #f2ece5;
    background: #6b5a46;
}

input[type="submit"]:hover {
    background: #6b5a46;
    color: #EBE5DF;
    transition: color 0.3s ease;
}
























/********* Footer *********/

footer {
    background-color: var(--beige);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-top: 50px;
    padding: 20px 0px 20px 0px;
}

#footer {
    padding: 10px;
}

.col1 {
    margin-bottom: 8px;
}

.col2 {
    margin-bottom: 8px;
}

.col3 {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-bottom: 8px;
}































/********** Burger Menu **********/


#menuToggle {
    display: block;
    position: relative;
    top: -60px;
    left: -189px;

    z-index: 1;

    -webkit-user-select: none;
    user-select: none;
}

#menuToggle a {
    text-decoration: none;
    color: var(--black);

    transition: color 0.3s ease;
}

#menuToggle a:hover {
    color: var(--dark-brown);
}


#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;

    cursor: pointer;

    opacity: 0;
    z-index: 2;

    -webkit-touch-callout: none;
}


#menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: #cdcdcd;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}


#menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
}


#menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}


#menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}


#menu {
    position: absolute;
    width: 300px;
    margin: 34px 0 0 -50px;
    padding: 50px;
    /*    padding-top: 125px;*/

    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;


    transform-origin: 0% 0%;
    transform: translate(-100%, 0);

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
    font-family: 'Old Standard TT', serif;
    padding: 20px 0px;
    font-size: 28px;
}


#menuToggle input:checked ~ ul {
    transform: none;
}























/*********Signature + consilium side*********/

#indhold__ {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#indhold__ img {
    width: 400px;
    height: 400px;
    margin: 60px 0px 10px 0px;
}

#indhold__txt {
    display: flex;
}

.navn {
    font-family: 'Poppins', sans-serif;
    color: var(--black);
    position: absolute;
    left: 50px;
}

.pris {
    font-family: 'Poppins', sans-serif;
    color: var(--black);
    position: absolute;
    right: 50px;
}

.container {
    padding-top: 110px;
}

#h1_hide {
    display: none;
}


























/***********Singleview**********/

#single__indhold {
    background-color: #b8b3ae;
    color: #fff;
    height: auto;
    width: 300px;
    font-family: 'Poppins', sans-serif;
    padding: 20px;
    margin: 0px auto;
}



#single_indhold {
    padding: 100px;
}

#single_indhold img {
    margin: 50px 0 20px -60px;
    width: 300px;
}

.single_navn {
    padding-bottom: 20px;
}

.single_pris {
    padding-bottom: 20px;
}

.single_tekst {
    padding-bottom: 10px;
}

button {
    background-color: var(--dark-brown);
    width: 300px;
    height: 40px;
    margin: -60px auto 0px;
    display: flex;
    align-items: center;
    justify-items: center;
    border: none;
    border-radius: 3px;
}

button p {
    color: #fff;
    font-size: 1.8em;
    margin: 0 auto;
}

button:hover {
    background-color: #6b5a20;
    transition: color 0.3s ease;
}

































/***********Information**********/


#information1 {
    background-color: #b8b3ae;
}

#designerne {
    padding-top: 100px;
}

#designerne h1 {
    color: #fff;
    padding: 10px 10px;
    font-size: 2em;
}

#information2 {
    background-color: #fff;
}

#bagakva {}

#bagakva p {
    padding: 10px 10px;
}

#information3 {
    background-color: #ebe5df;
}

#hvorfor {}

#hvorfor h1 {}

#hvorfor p {
    padding: 10px;
}

#information4 {
    background-color: #6b5a46;
}

#hvordan {}

#hvordan a {
    color: #fff;
}

#hvordan h1 {
    color: #fff;
    padding: 10px;
    font-size: 3em;
}

#hvordan h2 {
    color: #fff;
    padding: 10px;
    font-size: 1.5em;
}

#hvordan h3 {
    color: #fff;
    padding: 10px;
    font-size: 1.2em;
}

#hvordan p {
    color: #fff;
    padding: 10px;
}

























/*********Media Q*********/
































/*********Media Q burger menu iphone x *********/



@media only screen and (max-width: 767px) {
    #web_menu {
        display: none;
    }
}

#menuToggle {
    display: block;
    position: relative;
    top: -60px;
    left: -150px;

    z-index: 1;

    -webkit-user-select: none;
    user-select: none;
}

#menu {
    position: absolute;
    width: 300px;
    margin: 34px 0 0 -28px;
    padding: 50px;
    /*    padding-top: 125px;*/

    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;


    transform-origin: 0% 0%;
    transform: translate(-100%, 0);

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}


#single__indhold {
    margin: 0px -60px;
}


















































/*********Mobil Q*********/

@media only screen and (max-width: 768px) {
    #web_menu {
        display: none;
    }

    #web_video {
        display: none;
    }
}






















































/*********Web Q*********/

@media only screen and (min-width: 768px) {

    /*
        {
            display: grid;
            grid-gap: 15px;
            grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
            padding: 0 15px 75px 15px;
        }
*/

    #menuToggle {
        display: none;
    }


    #logo {
        position: absolute;
        padding-top: 15px;
    }


    #web_menu a {
        font-family: 'Old Standard TT', serif;
        padding: 20px 10px;
        font-size: 28px;
        text-decoration: none;
        color: var(--black);
        transition: color 0.3s ease;
    }

    #web_menu a:hover {
        color: var(--dark-brown);
    }

    #web_menu {
        display: flex;
        flex-direction: row;
        z-index: 200;
        justify-content: space-around;
    }


    .web_menu_venstre {
        position: relative;
        top: 35px;
        left: -30vw;
    }

    .web_menu_hojre {
        position: relative;
        top: 35px;
        right: -30vw;
    }

    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
    }

    #footer {
        display: flex;
        flex-direction: row;
        padding: 50px 50px;
        align-items: center;
        justify-content: space-between;
    }

    .col1 {}

    .col2 {
        padding-right: 400px;
    }

    .col3 {}




    #section_nyhedsbrev {
        height: 600px;
        display: grid;
        grid-gap: 15px;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        padding: 50px 150px 30px 150px;
    }

    #splash_3 {
        height: 600px;
        display: grid;
        grid-gap: 15px;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        padding: 50px 150px 30px 150px;
        margin-bottom: 50px;
    }

    #CTA {
        height: 600px;
        display: grid;
        grid-gap: 15px;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        padding: 50px 150px 30px 150px;
        margin-bottom: 50px;
    }

    #CTA img {
        width: 50%;
    }

    #splash_1 {
        height: 600px;
        display: grid;
        grid-gap: 15px;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        padding: 50px 150px 30px 150px;
        margin-bottom: 50px;
    }

    #splash_1 img {
        width: 50%;
    }

    main {
        margin-top: 100px;
    }

    header {
        margin-top: -100px;
    }

    #splash_splash video {
        position: relative;
        z-index: -1;
        width: auto;
        height: 600px;
    }

    #mobil_video {
        display: none;
    }

    #splash_brown_2 {
        background-position: center;
        background-color: #ebebeb;
    }

    .infografik {
        width: 100%;
        height: auto;
        padding-top: 110px;
    }




    /************ Signature + Consilium ****************/


    .container {
        display: grid;
        grid-gap: 15px;
        grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    }



    .navn,
    .pris {
        font-family: 'Poppins', sans-serif;
        color: var(--black);
        width: 200px;
        position: inherit;
    }


    .pris {
        padding-left: 135px;
    }


    /************ information ****************/


    #designerne {
        display: grid;
        grid-gap: 15px;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        padding: 50px 150px 30px 150px;
        margin-bottom: 50px;
    }

    #designerne img {
        width: 60%;
    }

    #designerne h1 {
        padding-top: 170px;
    }

    #bagakva {
        display: grid;
        grid-gap: 15px;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        padding: 50px 150px 30px 150px;
        margin-bottom: 50px;
    }

    #bagakva img {
        width: 60%;
    }

    #hvorfor {
        display: grid;
        grid-gap: 15px;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        padding: 50px 150px 80px 150px;
    }

    #hvorfor h1 {}

    #hvorfor img {
        width: 60%;
    }

    #hvordan {
        display: grid;
        grid-gap: 15px;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        padding: 50px 150px 150px 150px;
    }

    #hvordan h1 {
        color: #fff;
        padding: 10px;
        font-size: 3em;
    }

    #hvordan img {
        width: 60%;
    }















    /************ Single view ****************/

    #single_indhold {
        display: grid;
        grid-gap: 15px;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        padding: 150px 250px 150px 300px;
    }

    #single_indhold img {
        width: auto;
        height: 500px;
    }

    #shopknap {
        margin: 50px auto;
    }

    #single__indhold {
        height: 500px;
        margin-top: 50px;
    }


}


















/*********      Web +1530px     *********/

/*********      Web +1530px     *********/

/*********      Web +1530px     *********/

/*********      Web +1530px     *********/

/*********      Web +1530px     *********/

/*********      Web +1530px     *********/

/*********      Web +1530px     *********/

@media only screen and (min-width: 1530px) {

    /*
        {
            display: grid;
            grid-gap: 15px;
            grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
            padding: 0 15px 75px 15px;
        }
*/

    #menuToggle {
        display: none;
    }


    #logo {
        position: absolute;
        padding-top: 15px;
    }


    #web_menu a {
        font-family: 'Old Standard TT', serif;
        padding: 20px 10px;
        font-size: 28px;
        text-decoration: none;
        color: var(--black);
        transition: color 0.3s ease;
    }

    #web_menu a:hover {
        color: var(--dark-brown);
    }

    #web_menu {
        display: flex;
        flex-direction: row;
        z-index: 200;
        justify-content: space-around;
    }


    .web_menu_venstre {
        position: relative;
        top: 35px;
        left: -30vw;
    }

    .web_menu_hojre {
        position: relative;
        top: 35px;
        right: -30vw;
    }

    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
    }

    #footer {
        display: flex;
        flex-direction: row;
        padding: 50px 50px;
        align-items: center;
        justify-content: space-between;
    }

    .col1 {}

    .col2 {
        padding-right: 400px;
    }

    .col3 {}




    #section_nyhedsbrev {
        height: 600px;
        display: grid;
        grid-gap: 15px;
        grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
        padding: 50px 150px 30px 150px;
    }

    #splash_3 {
        height: 600px;
        display: grid;
        grid-gap: 15px;
        grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
        padding: 50px 150px 30px 150px;
        margin-bottom: 50px;
    }

    #CTA {
        height: 600px;
        display: grid;
        grid-gap: 15px;
        grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
        padding: 50px 150px 30px 150px;
        margin-bottom: 50px;
    }

    #CTA img {
        width: 50%;
    }

    #splash_1 {
        height: 600px;
        display: grid;
        grid-gap: 15px;
        grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
        padding: 50px 150px 30px 150px;
        margin-bottom: 50px;
    }

    #splash_1 img {
        width: 50%;
    }

    main {
        margin-top: 100px;
    }

    header {
        margin-top: -100px;
    }

    #splash_splash video {
        position: relative;
        z-index: -1;
        width: auto;
        height: 600px;
        padding: 0 10px 0 40px;
    }

    #mobil_video {
        display: none;
    }

    #splash_brown_2 {
        background-position: center;
        background-color: #ebebeb;
    }

    .infografik {
        width: 100%;
        height: auto;
        padding-top: 110px;
    }




    /************ Signature + Consilium ****************/


    .container {
        display: grid;
        grid-gap: 15px;
        grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    }



    .navn,
    .pris {
        font-family: 'Poppins', sans-serif;
        color: var(--black);
        width: 200px;
        position: inherit;
    }


    .pris {
        padding-left: 135px;
    }


    /************ information ****************/


    #designerne {
        display: grid;
        grid-gap: 15px;
        grid-template-columns: repeat(auto-fill, minmax(540px, 1fr));
        padding: 50px 150px 30px 150px;
        margin-bottom: 50px;
    }

    #designerne img {
        width: 60%;
    }

    #designerne h1 {
        padding-top: 170px;
    }

    #bagakva {
        display: grid;
        grid-gap: 15px;
        grid-template-columns: repeat(auto-fill, minmax(540px, 1fr));
        padding: 50px 150px 30px 150px;
        margin-bottom: 50px;
    }

    #bagakva img {
        width: 60%;
    }

    #hvorfor {
        display: grid;
        grid-gap: 15px;
        grid-template-columns: repeat(auto-fill, minmax(540px, 1fr));
        padding: 50px 150px 80px 150px;
    }

    #hvorfor h1 {}

    #hvorfor img {
        width: 60%;
    }

    #hvordan {
        display: grid;
        grid-gap: 15px;
        grid-template-columns: repeat(auto-fill, minmax(540px, 1fr));
        padding: 50px 150px 150px 150px;
    }

    #hvordan h1 {
        color: #fff;
        padding: 10px;
        font-size: 3em;
    }

    #hvordan img {
        width: 60%;
    }

    /************ Single view ****************/

    #single_indhold {
        display: grid;
        grid-gap: 15px;
        grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
        padding: 150px 250px 150px 300px;
    }

    #single_indhold img {
        width: auto;
        height: 500px;
    }

    #shopknap {
        margin: 50px auto;
    }

    #single__indhold {
        height: 500px;
        margin-top: 50px;
    }


}
